selenium==3.0.0b3
pyvirtualdisplay
xmlrunner
nose_parameterized
nose
xunitmp
attrdict

http://192.168.254.81:81/artifactory/libs-release-local/qat/transparent_qat-utils/transparent_qat-utils-1.0.9-master.tar.gz
http://192.168.254.81:81/artifactory/libs-release-local/qat/transparent_qat-cl150/transparent_qat-cl150-1.0.17-master.tar.gz